		<% include ./partials/header %>

		
			
			<!-- Possible modal for the bar information -->

			<h2 class="venue_name"   id="venue_info"><%=venue.name%></h2>
			<!-- <div id="disco_ball"></div> -->
			<div id="pat_num" ><%=venue.patron_number%><span style = "font-family: 'Limelight', cursive">/ </span><%=venue.capacity%></div>

			<div class="view_counter fill container-fluid">

				<!-- Had to put these styles inline because the url squid tag would not pull in through the css -->
				<div class='patron_number'>
					<!-- <div id="number" style="hidden"> -->
						<!-- <p id="pat_num" style = "padding-top: 35px"><%=venue.patron_number%><span style = "font-family: 'Limelight', cursive">/ </span><%=venue.capacity%></p> -->
					<!-- </div> -->
				</div>
				<style>
					.fill {
    						overflow: hidden;
    						background-size: 100%;
    						background-position: center;
    						background-image: url("<%=venue.logo_url%>");
    						opacity: 0.7;
								}
					/*.view_counter::after {
*/
    					/*background-image: url(<%=venue.logo_url%>);
*//*
							background-image: url("<%=venue.logo_url%>");*/
    					/*background-image: url("/images/rio_rita.jpg");*/
    			/*		width: 100%;
						min-height: 280px;
						background-size: 280px 115px;
    					content: "";
  						opacity: 0.6;
  						top: 0;
					   left: 0;
					   bottom: 0;
					   right: 0;
					   position: absolute;
					   z-index: -1;
					  background-repeat: no-repeat; 
					}*/
				</style>
			</div>
			<div class="comment_box container-fluid">
				<p><%= venue.comment %></p>
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="footbox">
               <form name="bar_button" action="/home_arrows" method="POST">
			    		<button type="submit" name="arrow" class="arrow_btn btn btn-default btn-lg" value="b<%= current_venue %>">
  							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
						</button>
			    		<button type="submit" class="arrow_btn btn btn-default btn-lg" name="arrow" value ="f<%= current_venue %>">
  							Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						</button>
					</form>
      </div>
	   </nav>
	   <input id="pat_number" style="display: none" value="<%= venue.patron_number %>">
	   <input id="capacity" style="display: none" value="<%= venue.capacity %>">
	   <input id="venue_id" style="display: none" value="<%= venue['_id'] %>">

		<% include ./partials/footer %>

		<script>
			 var clicks = 0;

			 $('#venue_info').on('click', function() {
	  			clicks++
	  			if (clicks % 2 == 1) {
	  				console.log('odd click')

			 		$('#venue_info').append('<ul><li><span class="info">LOCATION:</span>   <%=venue.location%></li><li><span class="info">HOURS:</span>   <%=venue.hours%></li><li><a href="<%= venue.website_url %>" target="_blank"><%= venue.website_url %></li></ul>')
	     // odd clicks
	  			} else {
	  				console.log('even click')
			 		$('#venue_info').html('<%=venue.name%>')
	     // even clicks
	  			}
			});

			// number changing color logic
			var patron_number = $('#pat_number').val();
			var capacity = $('#capacity').val();
			var count_fraction = parseFloat(patron_number)/capacity;
			console.log(count_fraction);
			if (count_fraction <= 0.30){
				console.log("<30% Blue");			
				$('#pat_num').css('color', '#00FFFF');
			} 
			else if (count_fraction <= 0.60){
				console.log("<60% Yellow");				
				$('#pat_num').css('color', '#FFFF00');
			}
			else if (count_fraction <= 0.90){
				console.log("<90% Red");			
				$('#pat_num').css('color', '#FF0040');
			}
			else {
				console.log(">90% disco");
				$('#pat_num').css('color', 'white');
				// class name of disco div is animated bounceInLeft ///
				setInterval('disco_ball_gif()', 3000 );
				function disco_ball_gif(){
					// setTimeout('disco_out_gif()', 2000);
					$('.patron_number').html('<iframe  class="animated bounceInLeft" id="disco" src="//giphy.com/embed/jRx59nrqDtXHy" leftframeBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/party-ball-lights-jRx59nrqDtXHy"></a></p>')
					
				}

				function disco_out_gif(){
					$('.patron_number').html('<iframe  class="animated OutRight" id="disco_out" src="//giphy.com/embed/jRx59nrqDtXHy" leftframeBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/party-ball-lights-jRx59nrqDtXHy"></a></p>');
				}
		}


			setInterval('venueUpdate()', 5000);
			
			function venueUpdate() {
				var venue_id = $('#venue_id').val();
				console.log(venue_id);
				$.ajax({
            url: '/wasVenueUpdated',
            dataType: "json",
            method: "POST",
            data: {
              venue_id: venue_id
              },
            success: function(data, textStatus, jqXHR){
            	console.log("data['timestamp: " + data['timestamp']);
              var venueTimeStamp = parseInt(data['timestamp']);
              console.log("venue time: " + venueTimeStamp);
              var timeStamp = Math.floor(Date.now() / 1000);
              console.log("current time: " + timeStamp);
              if (venueTimeStamp) {
              	if (Math.abs(timeStamp - venueTimeStamp) < 3) {
              		console.log(Math.abs(timeStamp - venueTimeStamp))
              		location.reload();
              	}
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                // alert("Status: " + textStatus); alert("Error: " + errorThrown);
            }
         });
			};

    

	
		</script>



