
		
		<% include ./partials/header %>

			<!-- Possible modal for the bar information -->
			<h2 class="venue_name" id="venue_info"><%=venue.name%></h2>
			<div class="view_counter container-fluid">
				<!-- Had to put these styles inline because the url squid tag would not pull in through the css -->
				<style>
					.view_counter	{

    					/*background-image: url(<%=venue.logo_url%>);
    					background-color: #000;
    					/*opacity: .6;
    					border: 5px solid black;*/

    					background-image: url("../images/rio_rita.jpg");
				}
				</style>
			</div>
			<div class="comment_box container-fluid">
				<p><%= venue.comment %></p>
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="footbox">
               <form name="bar_button" action="/home" method="GET">
			    		<input class="newbar-btn" type="submit" name="submit" value="Next Bar">
					</form>
            </div>
         </nav>

		<% include ./partials/footer %>

		<script>
			 var clicks = 0;

			 $('#venue_info').on('click', function() {
	  			clicks++
	  			if (clicks % 2 == 1) {
	  				console.log('odd click')
			 		$('#venue_info').append('<ul><li>Location:  <%=venue.location%></li><li>Hours:  <%=venue.hours%></li></ul>')
	     // odd clicks
	  			} else {
	  				console.log('even click')
			 		$('#venue_info').html('<%=venue.name%>')
	     // even clicks
	  			}
			});
		</script>



